<div class="profile-container">  
  <mat-card class="left-profile-card">
    <mat-card-header class="profile-header">
        <h3>
            Profile Information
        </h3>
    </mat-card-header>
    <mat-card-content class="profile-image">
      <img mat-card-image src="{{profilePicture}}" alt="Profile picture" [style.width.%]="90">
    </mat-card-content>
    <mat-card-content class="profile-info">
      <span *ngIf="!userProfile">Loading...</span>
      <span *ngIf="userProfile">
        <h3>Name:</h3>
        <p>{{userProfile.name}}</p>
      </span>
      <span *ngIf="userProfile">
        <h3>Surname:</h3>
        <p>{{userProfile.surname}}</p>
      </span>
      <span *ngIf="userProfile">
        <h3>Email:</h3>
        <p>{{userProfile.email}}</p>
      </span>
      <button mat-flat-button color="primary" style="margin-top: 3rem;" (click)="deleteProfile();">Delete Your Account</button>
    </mat-card-content>
  </mat-card>
  <div class="profile-right-side">
    <div class="profile-right-top-side">
      <mat-card class="right-top-profile-card">
        <mat-card-header class="profile-header">
          <h3>
            Information Editor
          </h3>
        </mat-card-header>
        <mat-card-content>
          <div class="information-editor">
            <button mat-flat-button color="primary" class="information-editor-button" (click)="changeName();">Change Name</button>
            <button mat-flat-button color="primary" class="information-editor-button" (click)="changeSurname();">Change Surname</button>
            <button mat-flat-button color="primary" class="information-editor-button" (click)="changePicture();">Change Picture</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="right-top-profile-card">
        <mat-card-header class="profile-header">
          <h3>
            Application Theme
          </h3>
        </mat-card-header>
        <mat-card-content>
          <div class="theme-selection">
            <mat-radio-group class="theme-selection-radios" aria-labelledby="theme-selection-label">
                <mat-radio-button *ngFor="let theme of themes" class="theme-selection-option" [value]="theme.enum" [checked]="theme.checked"(click)="changeThemeStyle(theme.enum)">{{theme.name}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="right-bottom-profile-card">
      <mat-card-header class="profile-header">
        <h3>
          Saved Analysis
        </h3>
      </mat-card-header>
      <mat-card-content class="profile-saved">
       
      </mat-card-content>
    </mat-card>
  </div>
</div>