<div id="theme-selection">
    <label id="theme-selection-label">Select theme</label>
    <mat-radio-group id="theme-selection-radios" aria-labelledby="theme-selection-label">
        <mat-radio-button *ngFor="let theme of themes" id="theme-selection-option" [value]="theme.enum" [checked]="theme.checked"(click)="changeThemeStyle(theme.enum)">{{theme.name}}</mat-radio-button>
    </mat-radio-group>
</div>

<div *ngIf="userProfile">
    <h1 class="profile-heading">User profile</h1>
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>{{ userProfile.first_name }} {{ userProfile.last_name }}</mat-card-title>
        <mat-card-subtitle>{{ userProfile.username }}</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="{{ userProfile.profile_picture }}" alt="Profile photo">
     <mat-card-content>
        <p>
          Opis
        </p>
     </mat-card-content>
    </mat-card>
 </div>