    <mat-sidenav-container id="app-container">
    <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" id="app-sidenav" (click)="onSidenavClick()">
        <div id="app-logo-container">
            <img id="app-logo" src="../assets/simple-logo.png" alt="Logo" [style.width.%]="30">
        </div>
        <mat-nav-list id="app-sidenav-content-list">
            <h4 mat-list-item id="app-sidenav-content-list-row" (click)="navigateToRoute('')">
                <mat-icon id="app-sidenav-content-list-icon">home</mat-icon>
                <span id="app-sidenav-content-list-label">Home</span>
            </h4>
            <h4 mat-list-item id="app-sidenav-content-list-row" (click)="navigateToRoute('analyzer')">
                <mat-icon id="app-sidenav-content-list-icon">bar_chart</mat-icon>
                <span id="app-sidenav-content-list-label">Analyze</span>
            </h4>
            <h4 mat-list-item id="app-sidenav-content-list-row" (click)="navigateToProfile()">
                <mat-icon id="app-sidenav-content-list-icon">person</mat-icon>
                <span id="app-sidenav-content-list-label">Profile</span>
            </h4>
            <h4 *ngIf="user === null" mat-list-item id="app-sidenav-content-list-row" (click)="navigateToRoute('login')">
                <mat-icon id="app-sidenav-content-list-icon">login</mat-icon>
                <span id="app-sidenav-content-list-label">Login</span>
            </h4>
            <h4 *ngIf="user !== null" mat-list-item id="app-sidenav-content-list-row" (click)="logout()">
                <mat-icon id="app-sidenav-content-list-icon">logout</mat-icon>
                <span id="app-sidenav-content-list-label">Logout</span>
            </h4>
            <h4 mat-list-item id="app-sidenav-content-list-row" (click)="navigateToRoute('register')">
                <mat-icon id="app-sidenav-content-list-icon">person_add</mat-icon>
                <span id="app-sidenav-content-list-label">Register</span>
            </h4>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div id="app-sidenav-content">
            <button mat-button class="menu-button" (click)="sidenav.toggle()">
                <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
