@use '@angular/material' as mat;

// colors:
// -> #772e25
// -> #c44536
// -> #283d3b
// -> #197278
// -> #edddd4

$colorful-color1: (
  50 : #efe6e5,
  100 : #d6c0be,
  200 : #bb9792,
  300 : #a06d66,
  400 : #8b4d46,
  500 : #772e25,
  600 : #6f2921,
  700 : #64231b,
  800 : #5a1d16,
  900 : #47120d,
  A100 : #ff8780,
  A200 : #ff574d,
  A400 : #ff271a,
  A700 : #ff0f00,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$colorful-color2: (
  50 : #f8e9e7,
  100 : #edc7c3,
  200 : #e2a29b,
  300 : #d67d72,
  400 : #cd6154,
  500 : #c44536,
  600 : #be3e30,
  700 : #b63629,
  800 : #af2e22,
  900 : #a21f16,
  A100 : #ffd7d5,
  A200 : #ffa7a2,
  A400 : #ff776f,
  A700 : #ff5e56,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$colorful-color3: (
  50 : #e5e8e7,
  100 : #bfc5c4,
  200 : #949e9d,
  300 : #697776,
  400 : #485a58,
  500 : #283d3b,
  600 : #243735,
  700 : #1e2f2d,
  800 : #182726,
  900 : #0f1a19,
  A100 : #5dffeb,
  A200 : #2affe4,
  A400 : #00f6d8,
  A700 : #00ddc1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$colorful-color4: (
  50 : #e3eeef,
  100 : #bad5d7,
  200 : #8cb9bc,
  300 : #5e9ca1,
  400 : #3c878c,
  500 : #197278,
  600 : #166a70,
  700 : #125f65,
  800 : #0e555b,
  900 : #084248,
  A100 : #7ef1ff,
  A200 : #4bebff,
  A400 : #18e5ff,
  A700 : #00e1fd,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$colorful-color5: (
  50 : #fdfbfa,
  100 : #faf5f2,
  200 : #f6eeea,
  300 : #f2e7e1,
  400 : #f0e2da,
  500 : #edddd4,
  600 : #ebd9cf,
  700 : #e8d4c9,
  800 : #e5cfc3,
  900 : #e0c7b9,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
