@use '@angular/material' as mat;

// colors:
// -> #393d3f
// -> #c6c5b9
// -> #546a7b
// -> #62929e
// -> #fdfdff

$subdued-color1: (
  50 : #e7e8e8,
  100 : #c4c5c5,
  200 : #9c9e9f,
  300 : #747779,
  400 : #575a5c,
  500 : #393d3f,
  600 : #333739,
  700 : #2c2f31,
  800 : #242729,
  900 : #171a1b,
  A100 : #6ac9f8,
  A200 : #3ab7f6,
  A400 : #00a8fc,
  A700 : #0097e3,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$subdued-color2: (
  50 : #f8f8f7,
  100 : #eeeeea,
  200 : #e3e2dc,
  300 : #d7d6ce,
  400 : #cfcec4,
  500 : #c6c5b9,
  600 : #c0bfb2,
  700 : #b9b8aa,
  800 : #b1b0a2,
  900 : #a4a393,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fffdda,
  A700 : #fffcc1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$subdued-color3: (
  50 : #eaedef,
  100 : #ccd2d7,
  200 : #aab5bd,
  300 : #8797a3,
  400 : #6e808f,
  500 : #546a7b,
  600 : #4d6273,
  700 : #435768,
  800 : #3a4d5e,
  900 : #293c4b,
  A100 : #96ceff,
  A200 : #63b6ff,
  A400 : #309eff,
  A700 : #1692ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$subdued-color4: (
  50 : #ecf2f3,
  100 : #d0dee2,
  200 : #b1c9cf,
  300 : #91b3bb,
  400 : #7aa2ad,
  500 : #62929e,
  600 : #5a8a96,
  700 : #507f8c,
  800 : #467582,
  900 : #346370,
  A100 : #bef0ff,
  A200 : #8be4ff,
  A400 : #58d8ff,
  A700 : #3fd2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$subdued-color5: (
  50 : #ffffff,
  100 : #fefeff,
  200 : #fefeff,
  300 : #fefeff,
  400 : #fdfdff,
  500 : #fdfdff,
  600 : #fdfdff,
  700 : #fcfcff,
  800 : #fcfcff,
  900 : #fcfcff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);
