#app-container {
    background-color: $app-content-background;
    color: $app-content-text;
}

#app-sidenav {
    background-color: $app-nav-background;
    color: $app-nav-text;
}

#app-sidenav-content {
    background-color: $app-content-background;
    color: $app-content-text;
}
