<div class="requests-container">  
    <mat-card class="top-requests-card-stream">
        <h3>Select Stream:</h3>
        <mat-card-content class="requests-stream-selector">
            <mat-chip-listbox *ngFor="let streamObj of streams" aria-label="Stream Selection" (click)="streamSelected(streamObj)">
                <mat-chip-option [selected]="streamObj.selected" class="stream-chip">{{streamObj.stream.name}}</mat-chip-option>
              </mat-chip-listbox>
        </mat-card-content>
    </mat-card>
    <mat-card class="top-requests-card-tag">
        <h3>Select Tags:</h3>
        <div class="tags">
            <div *ngFor="let tagObj of tags" class="tag-containter">
                <mat-form-field>
                    <mat-select placeholder="{{tagObj.category}}" [formControl]="tagObj.form" [(value)]="tagObj.selectedTags" multiple>
                        <mat-option *ngFor="let tag of tagObj.allTags" [value]="tag">{{tag.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button color="primary" (click)="addOperands(tagObj.selectedTags)">Add Tags To Sandbox</button>
            </div>
        </div>
    </mat-card>
    <mat-card class="middle-requests-card">
        <div class="top-row">
            <h3>Build Query:</h3> <button mat-icon-button (click)="clearCanvas()"><mat-icon>delete</mat-icon></button>
        </div>
        <mat-card-content class="requests-sandbox">
            <app-request-creator #requestCreatorComponentRef [newOperands]="newOperands"></app-request-creator>
        </mat-card-content>
    </mat-card>
    <mat-card class="bottom-requests-card">
        <div class="top-row">
            <h3>Visualize Query:</h3> <button mat-icon-button (click)="visualizeQuery()"><mat-icon>play_arrow</mat-icon></button>
        </div>
        <mat-card-content class="requests-tools">
            <mat-error *ngIf="!queryIsValid" type="warn">Query Is Invalid. Fill In All The Blanks!</mat-error>
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
            <div *ngIf="showChart" class="queryResult">
                <div class="ct-chart"></div>
                <form [formGroup]="saveResultForm" (ngSubmit)="save()">
                    <mat-form-field>
                        <mat-label>Enter Title</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Enter Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                    <button mat-flat-button type="submit" color="primary">Save Result</button>
                    <mat-error *ngIf="saveResultFormErrorMessages != ''">{{saveResultFormErrorMessages}}</mat-error>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
