.auth-container {
    width: 100%;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.auth-card {
    margin-top: 0;
    //width: 45%;
    width: 35vw;
    padding: 1rem;
    height: 90%;
    //align-items: center;
    text-align: center;
    border-radius: 0%;
}

.auth-card-content {
    margin-left: 10%;
    margin-right: 10%;
}

.auth-card-content-form {
    width: 100%;
}

.auth-card-content-submit {
    width: 40%;
}

@media screen and (max-width: 600px) {
    .auth-card {
        width: 95vw;
    }

    .auth-card-content {
        margin-left: 2%;
        margin-right: 2%;
    }

    .auth-card-content-submit {
        width: 60%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .auth-card {
        width: 58vw;
    }

    .auth-card-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .auth-card-content-submit {
        width: 60%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .auth-card {
        width: 48vw;
    }

    .auth-card-content-submit {
        width: 60%;
    }
}
