<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.component.css"/> 
    <script type="module" src="dashboard.component.ts"></script> 
</head>

<body>
    <header>Wykresy prezentujące aktualne oferty oraz dodawana ich ilość każdego dnia w ostatnim tygodniu</header>
    <div class="chart-container">
        <canvas  id="line-chart" ></canvas>
        <canvas  id="line-chart1" ></canvas>
    </div>
  

</body>
</html>

