<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="dashboard.component.ts"></script> 
</head>

<body>
    <header>Wykresy prezentujące aktualne oferty oraz dodawana ich ilość każdego dnia w ostatnim tygodniu</header>
    <div class="chart-container">
        <canvas  id="line-chart" ></canvas>
        <canvas  id="line-chart1" ></canvas>
    </div>
    <!-- <div style="display: block;">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
      </div> -->
      
      
  

</body>
</html>

